.CardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.SearchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .CardContainer {
    justify-content: center;
  }
}
